name: Rust Clippy Linter

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  clippy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Rust
        uses: actions/setup-rust@v1
        with:
          rust-version: stable

      - name: Install clippy
        run: rustup component add clippy

      - name: Run clippy linter
        run: cargo clippy --all-targets --all-features -- -D warnings
